<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mahui53541.accounting.mapper.ExercisesMapper">
  <resultMap id="BaseResultMap" type="com.github.mahui53541.accounting.model.Exercises">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="exercises_name" jdbcType="VARCHAR" property="exercisesName" />
    <result column="exercises_url" jdbcType="VARCHAR" property="exercisesUrl" />
    <result column="exercises_type" jdbcType="VARCHAR" property="exercisesType" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
  </resultMap>
</mapper>